@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

:root {
    --primary: #B68D40;
    --secondary: #D6AD60;
    --black: #000000;
    --white: #fff;
    --box-shadow: 0 .5rem 1rem red;
    color: white;
}

* {
    margin: 0;
    padding: 0;
}

/*all css*/
body {
    background: black;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: var(--black);
    box-shadow: var(--box-shadow);
    display: inline-block;
    align-items: center;
    justify-content: space-between;
}

.dropdown_menu {
    display: none;
}

.header nav {
    display: flex;
    align-items: center;
    padding: 20px 8%;
}

.header .logo {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: red;
    font-size: 40px;
    font-weight: 500;
    cursor: pointer;
}

.header .logo span {
    color: white;
    font-size: 25px;
}

nav ul {
    flex: 1;
    text-align: right;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 300;
}

nav ul li a:hover {
    background: red;
    color: white;
    padding: 5px;
    border-radius: 20px;
    transition: 0.8s;
    transform: scale(2s)ease;
}

.active {
    background: white;
    color: black;
    padding: 5px;
    border-radius: 20px;
    transition: 1s;
}

.toggle_btn img {
    color: red;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

/*end of all css*/

/*DROPDOWN Menu*/

/*index css */
.note {
    color: white;
    margin-top: 300px;
    margin-left: 100px;
    font-size: 20px;
}

.note h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}

.note h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 60px;
}

.note p {
    font-size: 25px;
}

.note span {
    color: red;
}

.note img {
    position: relative;
    margin-left: 600px;
    margin-top: -370px;
    cursor: pointer;
    width: 40%;
}

.note img:hover {
    transform: scale(1.04);
}

/*end of index css*/

/*services css*/
.service h1 {
    margin-left: 50px;
    margin-top: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    cursor: pointer;
}

.service h1 span {
    color: red;
}

.service h1 span:hover{
    color: white;
}

.service h1:hover{
    color: red;
}

.skill {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 30px 20px;
    grid-column-gap: 20px;
    grid-row-gap: 30px;
    margin-left: 0px;
    margin-right: 3px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
}

.skill img {
    width: 60px;
}

.skill0 {
    background: red;
    padding: 20px;
}

.skill0:hover {
    transform: scale(1.04);
}

.skill1 {
    background: red;
    padding: 20px;
}

.skill1:hover {
    transform: scale(1.04);
}

.skill2 {
    background: red;
    padding: 20px;
}

.skill2:hover {
    transform: scale(1.04);
}

.work {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 30px 20px;
    grid-column-gap: 20px;
    grid-row-gap: 30px;
    margin-left: 0px;
    margin-right: 3px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
}

.work img {
    width: 100%;
    height: 100%;
}

.work1 img:hover {
    transform: scale(1.04);
}

.work2 img:hover {
    transform: scale(1.04);
}

.work3 img:hover {
    transform: scale(1.04);
}

.service1 h1 {
    margin-left: 50px;
    margin-top: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    cursor: pointer;
}

.service1 h1 span {
    color: red;
}

.service1 h1 span:hover{
    color: white;
}

.service1 h1:hover{
    color: red;
}


/*About CSS*/
.abt {
    margin-top: 100px;
}

.abt img {
    width: 400px;
    height: 500px;
    margin-left: 50px;
}

.abt h1 {
    position: absolute;
    margin-left: 500px;
    margin-top: -520px;
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
}

.abt h1 span {
    color: red;
}

.abt h1 span:hover{
    color: white;
}

.abt h1:hover{
    color: red;
}

.abt p {
    margin-left: 500px;
    margin-top: -450px;
}

/*contact*/
.wrapper {
    width: 420px;
    background: transparent;
    border: 2px solid var(--black);
    backdrop-filter: blur(9px);
    color: white;
    border-radius: 12px;
    padding: 30px 40px;
    margin-top: 00px;
}

.wrapper h3 {
    margin-left: 20px;
    margin-bottom: 5px;
}

.wrapper h1 {
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--white);
    text-align: center;
    margin-left: -200px;
}

.wrapper h1 span {
    color: red;
}

.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 00%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: var(--white);
    padding: 20px;
    border-color: var(--white);
}

.input-box input::placeholder {
    color: #fff;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 30%;
    transform: translate(-50%);
    font-size: 20px;

}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
    cursor: pointer;
}

.wrapper h1 span:hover{
    color: white;
}

.wrapper h1:hover{
    color: red;
}

.wrapper .input-box2 {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box2 input {
    width: 100%;
    height: 00%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 100px;
    border-color: var(--white);
    margin-bottom: 100px;
}

.input-box2 input::placeholder {
    color: #fff;
}

.input-box2 i {
    position: absolute;
    right: 20px;
    top: 30%;
    transform: translate(-50%);
    font-size: 20px;
}

.wrapper .btn {
    width: 45%;
    height: 45px;
    background: white;
    border-color: var(--white);
    border: 0px solid;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: black;
    font-weight: 600;
    margin-left: 430px;
    margin-top: 10px;
    transition: transform 0.3s, color 0.3s,
    ;
}

.wrapper .btn:hover {
    background-color: red;
    color: white;
    transform: translateY(-1px);
}

.wrapper .social {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 30px 20px;
    grid-column-gap: .1px;
    grid-row-gap: .1px;
    margin-left: 0px;
    margin-right: 3px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
}

.wrapper .social img {
    width: 50px;
}

/* footer */
.footer {
    background: red;
    width: 1264px;
    height: 100%;
}

.footer .info {
    text-align: center;
}

.footer .info p {
    color: gainsboro;
}







/* Media Queries */
@media (max-width: 450px) {
    .header nav {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1000;
        background: var(--black);
        box-shadow: var(--box-shadow);
        display: none;
        align-items: center;
        justify-content: space-between;
    }

    .dropdown_menu {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1000;
        background: var(--black);
        box-shadow: var(--box-shadow);
        display: inline-block;
        align-items: center;
        justify-content: space-between;
    }

    .dropdown_menu .logo {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: red;
        font-size: 30px;
        margin-left: 150px;
        margin-top: 4px;
        margin-bottom: 2px;
    }

    .dropdown_menu .logo span {
        color: white;
        font-size: 15px;
    }

    .dropdown_menu ul {
        flex: 1;
        text-align: center;
        margin-bottom: 20px;
    }

    .dropdown_menu ul li {
        display: inline-block;
        list-style: none;
        margin: 0 20px;
    }

    .dropdown_menu ul li a {
        text-decoration: none;
        color: white;
        font-size: 15px;
        font-weight: 300;
    }

    .dropdown_menu a:hover {
        background: red;
        color: white;
        padding: 5px;
        border-radius: 20px;
        transition: 0.8s;
        transform: scale(2s)ease;
    }

    .dropdown_menu .active {
        background: white;
        color: white;
        padding: 5px;
        border-radius: 20px;
        transition: 1s;
    }

    .ser-ddmenu{
        display: none;
        top: 5.8%;
        position: relative;
    }

    .ser-ddmenu ul{
        position: absolute;
    }

    .dropdown_menu ul li:hover .ser-ddmenu{
        display: block;
        position: absolute;
        background-color: #000000;
        margin-top: 55px;
        margin-left: -25px;
    }

    .dropdown_menu ul li:hover .ser-ddmenu ul{
        display: block;
        margin: 5px;
    }

    .dropdown_menu ul li:hover .ser-ddmenu ul li{
        width: 110px;
        padding: 12px;
        border-bottom: 1px #fff;
        background: #000000;
        transition: 0.4s ease;
        text-align: left;
        border-radius: 0;
    }

    nav ul li a {
        display: none;
    }

    .toggle_btn img {
        display: none;
    }

    /*index css */
    .note {
        color: white;
        margin-top: 150px;
        margin-left: 40px;
        font-size: 20px;
    }

    .note h2 {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 15px;
    }

    .note h1 {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 60px;
    }

    .note h3 {
        font-size: 15px;
    }

    .note p {
        font-size: 20px;
    }

    .note span {
        color: red;
    }

    .note img {
        display: none;
    }

    /*About CSS*/
    .abt {
        margin-top: 100px;
    }

    .abt img {
        width: 300px;
        height: 300px;
        margin-left: 30px;
    }

    .abt h1 {
        margin-left: 20px;
        margin-top: 20px;
        font-size: 50px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .abt h1 span {
        color: red;
    }

    .abt p {
        margin-left: 20px;
        margin-top: 80px;
        font-size: 15px;
    }

    /*services css*/
    .service h1 {
        margin-left: 50px;
        margin-top: 80px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 40px;
        cursor: pointer;
    }

    .service h1 span {
        color: red;
    }

    .service h1 span:hover{
        color: white;
    }

    .service h1:hover{
        color: red;
    }

    .skill {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 30px 20px;
        grid-column-gap: 20px;
        grid-row-gap: 30px;
        margin-left: 0px;
        margin-right: 3px;
        font-size: 20px;
        text-align: center;
        cursor: pointer;
    }

    .skill img {
        width: 60px;
    }

    .skill0 {
        background: red;
        padding: 20px;
    }

    .skill1 {
        background: red;
        padding: 20px;
    }

    .skill2 {
        background: red;
        padding: 20px;
    }

    .work {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 30px 20px;
        grid-column-gap: 20px;
        grid-row-gap: 30px;
        margin-left: 0px;
        margin-right: 3px;
        font-size: 20px;
        text-align: center;
        cursor: pointer;
    }

    .work img {
        width: 100%;
        height: 100%;
    }

    .service1 h1 {
        margin-left: 50px;
        margin-top: 80px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 40px;
        cursor: pointer;
    }

    .service1 h1 span {
        color: red;
    }

    .service1 h1 span:hover{
        color: white;
    }

    .service1 h1:hover{
        color: red;
    }

    /*contact*/
    .wrapper {
        width: 420px;
        background: transparent;
        border: 2px solid var(--black);
        backdrop-filter: blur(9px);
        color: white;
        border-radius: 12px;
        padding: 30px 40px;
        margin-top: 00px;
    }

    .wrapper h3 {
        margin-left: 20px;
        margin-bottom: 5px;
    }

    .wrapper h1 {
        font-size: 50px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: var(--white);
        text-align: center;
        margin-left: -200px;
        cursor: pointer;
    }

    .wrapper h1 span {
        color: red;
    }

    .wrapper h1 span:hover{
        color: white;
    }

    .wrapper h1:hover{
        color: red;
    }

    .wrapper .input-box {
        position: relative;
        width: 60%;
        height: 50px;
        margin: 30px 0;
        margin-left: -20px;
    }

    .input-box input {
        width: 100%;
        height: 00%;
        background: transparent;
        border: none;
        outline: none;
        border: 2px solid rgba(255, 255, 255, .2);
        border-radius: 40px;
        font-size: 16px;
        color: var(--white);
        padding: 20px;
        border-color: var(--white);
    }

    .input-box input::placeholder {
        color: #fff;
    }

    .input-box i {
        position: absolute;
        right: 20px;
        top: 30%;
        transform: translate(-50%);
        font-size: 20px;

    }

    .wrapper h1 {
        font-size: 36px;
        text-align: center;
    }

    .wrapper .input-box2 {
        position: relative;
        width: 30%;
        height: 50px;
        margin: 30px 0;
        margin-left: -25px;
    }

    .input-box2 input {
        width: 100%;
        height: 00%;
        background: transparent;
        border: none;
        outline: none;
        border: 2px solid rgba(255, 255, 255, .2);
        border-radius: 40px;
        font-size: 16px;
        color: #fff;
        padding: 95px;
        border-color: var(--white);
        margin-bottom: 100px;
    }

    .input-box2 input::placeholder {
        color: #fff;
        font-size: 10px;
    }

    .input-box2 i {
        position: absolute;
        right: 20px;
        top: 30%;
        transform: translate(-50%);
        font-size: 20px;
    }

    .wrapper .btn {
        width: 25%;
        height: 35px;
        background: white;
        border-color: var(--white);
        border: 0px solid;
        border-radius: 40px;
        box-shadow: 0 0 10px rgba(0, 0, 0, .1);
        cursor: pointer;
        font-size: 16px;
        color: black;
        font-weight: 600;
        margin-left: 180px;
        margin-top: 20px;
        transition: transform 0.3s, color 0.3s,
        ;
    }

    .wrapper .btn:hover {
        background-color: red;
        color: white;
        transform: translateY(-1px);
    }

    .wrapper .social {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 30px 20px;
        grid-column-gap: .1px;
        grid-row-gap: .1px;
        margin-left: -90px;
        margin-right: 50px;
        font-size: 20px;
        text-align: center;
        cursor: pointer;
    }

    .wrapper .social img {
        width: 50px;
    }

    /* footer */
    .footer {
        background: red;
        width: 356px;
        height: 100%;
    }

    .footer .info {
        text-align: center;
    }

    .footer .info p {
        color: gainsboro;
    }


    .dd-menu img{
        position: fixed;
        margin-left: 280px;
        margin-top: -60px;
    }

    .dd-menu ul{
        display: none;
        top: 5.8%;
        position: absolute;
    }

    .dropdown_menu:hover .dd-menu{
        display: block;
        position: absolute;
        background-color: #000000;
        cursor: pointer;
    }

    .dropdown_menu:hover .dd-menu ul{
        display: block;
        margin: 5px;
        margin-left: 200px;
    }

    .dropdown_menu:hover .dd-menu ul li{
        width: 110px;
        padding: 12px;
        border-bottom: 1px #fff;
        background: #000000;
        transition: 0.4s ease;
        text-align: center;
        border-radius: 0;
    }

}